/* Reset basic elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove link underlines */
a {
  text-decoration: none;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set default font family */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Remove default form input styles */
input,
button,
select,
textarea {
  border: none;
  outline: none;
  background: none;
}

/* Set image responsiveness */
img {
  max-width: 100%;
  height: auto;
}

/* Set default styles for block-level elements */
header,
footer,
section,
article,
aside,
main,
nav {
  display: block;
}

/* Remove quotes from blockquotes */
blockquote {
  quotes: none;
}

blockquote::before,
blockquote::after {
  content: "";
}

/* Remove default styles for the figure element */
figure {
  margin: 0;
}
