.segunda__secao {
  background-color: var(--bg-c11);
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.segunda__secao h2,
p {
  text-align: center;
  width: 1117px;
}

.segunda__secao h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--c1);
}

.segunda__secao p {
  color: var(--c7);
  font-size: 32px;
  margin: 30px 0;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone img {
  width: 30px;
  margin-right: 10px;
}

.segunda__secao a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffeb00;
  width: 578px;
  padding: 10px;
  margin: 0 auto;
  font-size: 32px;
  color: #222221;
  border: 2px solid;
  border-radius: 20px;
  font-weight: 500;
}
.segunda__secao a img {
  width: 20px;
  margin-right: 10px;
}

.player-container {
  width: 925px;
  height: 495px;
  margin: 80px auto;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.player-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .segunda__secao {
    padding: 2rem;
  }
  .segunda__secao h2,
  p {
    width: 730px;
  }
  .segunda__secao h2 {
    font-size: 32px;
  }
  .segunda__secao p {
    font-size: 24px;
    margin: 15px 0;
  }
  .player-container {
    width: 500px;
    height: 300px;
    margin: 40px auto;
  }
  .segunda__secao a {
    width: 300px;
    font-size: 24px;
  }
  @media (max-width: 480px) {
    .segunda__secao h2 {
      font-size: 24px;
    }
    .segunda__secao h2,
    p {
      width: 400px;
    }
    .segunda__secao p {
      font-size: 16px;
      margin: 10px 0;
    }
    .player-container {
      width: 400px;
      height: 300px;
      margin: 30px auto;
    }
  }
}
